/* General styling */
.root {
    -fx-font-family: 'Arial';
    -fx-font-size: 14px;
    -fx-background-color: #f0f0f0;
}

/* MenuBar styling
.menu-bar {
    -fx-background-color: #333333;
    -fx-text-fill: white
}
*/

.menu {
    -fx-text-fill: white;
}

.menu-item {
    -fx-text-fill: black;
}

/* TableView styling */
.table-view {
    -fx-border-color: #cccccc;
    -fx-border-width: 5;
}

.table-column-header {
    -fx-text-fill: white;
}

.table-row-cell {
    -fx-border-width: 0 0 1 0;
}

/* Middle section styling */
.stack-pane {
    -fx-padding: 20;
    -fx-border-width: 4;
    -fx-border-radius: 10;
}
